
@font-face {
    font-family: 'porter_sans_blockblock';
    src: url('/assets/porter-sans-inline-block-webfont.eot');
    src: url('/assets/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/porter-sans-inline-block-webfont.woff2') format('woff2'),
         url('/assets/porter-sans-inline-block-webfont.woff') format('woff'),
         url('/assets/porter-sans-inline-block-webfont.ttf') format('truetype'),
         url('/assets/porter-sans-inline-block-webfont.svg#porter_sans_blockblock') format('svg');
    font-weight: normal;
    font-style: normal;

}
